.header {
  color: #fff;
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  background: url(./BackGroundInicio.png) center / cover no-repeat;
}

.topbar {
display: flex;
justify-content: space-around;
border: 1px solid red;
}

.logo {
  border: 1px solid blue;
  font-family: "BJCree", serif;
  font-weight: 900;
  font-style: normal;
}

.nav-list {
  display: flex;
  gap: 28px;
  font-family: "BJCree", serif;
  font-weight: 600;
  font-style: normal;
}
ul {
  list-style-type: none;
}

.nav-reserva {
  text-decoration: none;
  color: inherit;
  font-family: "BJCree", serif;
  font-weight: 600;
  font-style: normal;
  background-color: orange;
  border-radius: 20px;
  border: 5px solid orange;
  box-shadow: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden; 
}